{% extends 'baseAdmin.html.twig' %}

{% block title %}admin - compétences{% endblock %}

{% block body %}

<h1 class="mb-5">Liste des compétences</h1>
<table class="table table-bordered table-dark text-center table-over table-sm">
    <thead>
        <tr>
            <th>N°</th>
            <th>Catégorie</th>
            <th>Titre</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for competence in competences %}
        <tr>
            <td>{{ loop.index }}</td>{#loop.revindex pour afficher dans le sens invese#}
            <td>{{ competence.categorie }}</td>
            <td>{{ competence.titre }}</td>
            <td><img src="{{ asset('img/skills/') ~ competence.img }}" alt="logo {{ competence.titre }}"</td>
            <td>
                <a href="{{ path('update_competence', {'id':competence.id}) }}"><i class="fas fa-pen-square"></i></a>
                <a href="{{ path('delete_competence', {'id':competence.id}) }}"><i class="fas fa-trash-alt text-danger"></i></a>
        </tr>
    {% endfor %}
    </tbody>

</table>
<div class="text-right my-5">
<a href="{{ path('create_competence') }}" class="btn btn-outline-dark">Ajouter une compétence</a>
</div>
{% endblock %}
